<% set_question_explanation_seo_tags(@question) %>

<% render_registration_wall_meta %>

<main class="bg-slate-50 py-8 relative restricted-area">

  <div class="max-w-3xl mx-auto space-y-8 px-4 sm:px-6">

    <% if current_user %>
      <%= render Questions::ResultStatus::Component.new(is_correct: @is_correct) %>
    <% end %>

    <%= render Common::TerminalDisplay::Component.new(
        body: @question.content,
        label: "Question.php (Review)"
      ) %>

    <%= render Common::ChoicesFeedback::Component.new(
      question: @question,
      user_choice_ids: @user_answer_ids
    ) %>

    <%= render Common::Explanation::Component.new(question: @question) %>

    <%= render Common::ReferenceInfo::Component.new(question: @question) %>

    <%= render Questions::StickyNav::Component.new(next_path: questions_random_path) %>

    <%= render Feedbacks::Form::Component.new(title: "この問題について報告する", question_id: @question.id, classes: "text-center mt-10") %>

  </div>

</main>
