<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body class="min-h-screen flex flex-col bg-gradient-to-b from-slate-100 to-slate-200">

    <%= render Common::Header::Component.new(
      current_user: current_user,
      github_info: session[:github_info],
      hide: content_for?(:hide_header_footer)
    ) %>

    <div class="max-w-screen-xl mx-auto w-full" id="flash">
      <%= render Common::Flash::Component.new(flash: flash) %>
    </div>

    <% if content_for?(:full_width) %>
      <%= yield %>
    <% else %>
      <div class="max-w-screen-xl mx-auto w-full flex-1 flex flex-col">
        <%= yield %>
      </div>
    <% end %>

    <%= render Common::Footer::Component.new(
        hide: content_for?(:hide_header_footer)
      ) %>

    <div id="modal-frame" class="fixed inset-0 pointer-events-none"></div>
    <%= render Common::DevelopmentTools::Component.new if Rails.env.development? %>
  </body>
</html>
